name: Cache Dependencies

on:
  push:
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Cache pip dependencies
        id: cache-pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: cache-7c0ab6e

      - name: prime-cache-7c0ab6e
        run: echo "Cache hit = ${{ steps.cache-pip.outputs.cache-hit }}"
